# OS & Editor
.DS_Store
.vscode/

# Environment files
.env
.env.*
!.env.example
!.env.docker.example

# Backend
target/

# Frontend
node_modules/
.svelte-kit/
build/
dist/

# Tests & Coverage
coverage/
test-results/
playwright-report/